/distr
/bin
/obj
.vs
*.user
imgui.ini
__history
Thumbs.db
/filelist*.txt
todo*.txt
/enc_temp_folder
/bin.old
*.exe
/XE2/General/__history
/XE2/General/DmsInterface/__history

/XE2/DMS/GeoDmsGui.identcache
/exe/gui/GeoDmsGuiQt.vcxproj.filters
/exe/gui/GeoDmsGuiQt.filters
/qtgui/exe/res/images/down_arrow.xcf
/XE2/DMS/GeoDmsGuiDelphi.dproj.local
/XE2/DMS/GeoDmsGuiDelphi.identcache
/XE2/DMS/GeoDmsGuiDelphi.res
